
:root{
    --primary-color: black;
     --secondary-color: #0d6efd;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card{
    width: 350px;
    height: 250px;
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
  
}

.button{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
}

.card2{
    width: 350px;
    height: 300px;
    border: 2px solid lightgray;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem; 
    border-radius: 5px;   
}

.form{
    display: flex;
    flex-direction: column;
      
}

.btn{
    background-color: var(--secondary-color);
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #0d6efd;

}

.para2{
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}



.card3{
    width: 350px;
    height: 300px;
    
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem; 
       
}

.navbar{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
.nav-items{   
    list-style: none;
    justify-content: space-between;
}

.li-btn{
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
}

.innercardContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.innercard1{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border: 1px solid lightgray;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    color: gray;
    border-radius: 5px;
}


.innercard2{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border: 1px solid lightgray;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    color: gray;
    border-radius: 5px;
}


.innercard3{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border: 2px solid lightgray;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    color: gray;
    border-radius: 5px;
}


.containerTwo{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    justify-content: center;
}

.samplecardOne{
    height: 300px;
    width: 250px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    
    padding: 1rem;
}

.cardBtn{
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.cardBtnTwo{
    background-color: lightgray;
    border: 1px solid lightgray;
    padding: 0.5rem;
}

.cardBtnThree{
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5px;
}

.textContainer h2,
.textContainer .cardBtnTwo{
    margin: 0;
}

.lastSection{
    display: flex;
    flex-direction: row;
    
    margin-bottom: 2rem;
    justify-content: center;
    
}

.orderCard{
    height: 400px;
    width: 350px;
    border: 5px solid rgb(12, 147, 12);
    background-color: white;
    border-radius: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.firstDiv{
    display: flex;
    justify-content: space-between;
}

.firstInnerDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secondDiv{
    display: flex;
    justify-content: space-between;
}

.secondInnerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.orderCard .para p{
    margin: 0;  
    padding: 0; 
}

.lastInnerDiv p, 
.lastInnerDiv h3, 
.lastInnerDiv h4 {
    margin: 0;
    padding: 0;
}

.lastDiv{
    display: flex;
    flex-direction: column;
}

.lastButton{
    background-color: rgb(12, 147, 12);
    color: white;
    border: 1px solid rgb(12, 147, 12);
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.text{
    display: flex;
    justify-content: center;
    padding: 1rem;
}